/* Inlineblock testing*/

.frere--un{
  background: tomato;
  float: left; /*flottant*/
}
.frere--deux{
  display: inline-block; /*inline, au dessus de flottant*/
  margin-top: 40px;
  background: green;
}
.frere span{
  position: relative; /*positionné, au dessus de inline*/
}
.frere--un span{
  background: yellow;
}
.frere--deux span{
  background: deepskyblue;
}

/*Sans intéret pour la compréhension*/

.parent{
  width: 200px;
  margin: 50px auto;
  overflow: hidden;
}
.frere{
  padding: 30px;
  margin-right: -100px;
}
.frere span{
  padding: 20px;
}
