/* Masthead */ 
#masthead { 
    height:60px;
    margin:0 0 10px 0;
    border:1px solid #000; 
    background-color:#CCC; 
}

/* Apply padding to heading to avoid Box Model woes */
h1 {
  padding:0 0 0 10px;
}

/* Content */ 
#content { 
    margin-right:30%; 
	margin-left:30%;
    margin-bottom:10px; 
    padding:10px; 
    border:1px solid #000; 
}

/* Sidebar A */ 
  #sidebar_a { 
    position:absolute; 
    top:80px; 
    right:10px; 
    width:25%; 
    margin-bottom:10px; 
    padding:10px; 
    border:1px solid #000; 
}

/* Sidebar B */ 
  #sidebar_b { 
    position:absolute; 
    top:80px; 
    left:10px; 
    width:25%; 
    margin-bottom:10px; 
    padding:10px; 
    border:1px solid #000; 
}

/* Footer */ 
  #footer { 
    margin-right:30%;
    margin-left:30%;	
    padding:10px; 
    border:1px solid #000; 
    background-color:#CCC; 
}   