<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script  src="/javascripts/promises-5.js"></script>
  </head>
  <body>
    <div ng-app="myApp">
	  <div ng-controller="promisesCtrl">
	    <button ng-Click="callAsync()">Call</button>
		<h2>Successes :</h2>
		<ul>
		 <li ng-repeat="success in successes">{{success.msg}}</li>
		</ul>
		<h2>Failures :</h2>
		<ul>
		 <li ng-repeat="failure in failures">{{failure.msg}}</li>
		</ul>
	  </div>
	</div>
  </body>
</html>
